* {
    box-sizing: border-box;
}

/* Element Styling --------------------------------------------------------------------------------------------------------------- */
body {
   margin: 0 auto;
   max-width: 100%;
    }

h1 {
    font-size: 27px;
    margin-left: 3%;
    color: white;
    position: relative;
}

/*End Element Styling --------------------------------------------------------------------------------------------------------------- */

/* Grid Styling ---------------------------------------------------------------------------------------------------------------------------*/

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
    display: grid;
}

/* End Grid Styling ---------------------------------------------------------------------------------------------------------------- */

/* Bell Icon Styling --------------------------------------------------------------------------------------------------------------- */
.bell-icon {
    height: 25px;
}

.bell-icon:hover {
    /* Animation */
    animation: ring 4s .7s ease-in-out forwards;
    transform-origin: 50% 4px;
}

/* Animation Keyframe */

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

  /* End Animation */

.bell-container {display: flex;align-items: center;margin-left: 16%;}

.dot {
    height: 6px;
    width: 6px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}


/* End Bell Styling --------------------------------------------------------------------------------------------------------------- */

/* Header/Heading Styling --------------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    background-color: #8652A1;
    width: 100vw;
}

.user-account {
    display: flex;
    align-items: center;
    /* margin-left: 3%; */
    position: absolute;
    right: -47px;
    top: 8px;
}

.user-account img {
    height: 50px;
    width: 55px;
    border-radius: 50%;
    float: right;
}

.user-account h3 {
    margin: 0%;
    font-size: 15px;
    margin-left: 5%;
    color: white;
}

/* End Header/Heading Styling --------------------------------------------------------------------------------------------------------------- */

/* Navigation Styling -------------------------------------------------------------------------------------------------------------------- */

.navigation {
    background-color: gray;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* width: 100vw; */
}

.navigation img {
    height: 50px;
    width: 25px;
}

/* End Navigation Styling ---------------------------------------------------------------------------------------------------------------- */

/* Dashboard Header Styling -------------------------------------------------------------------------------------------------------------- */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin-bottom: 15px;
}

.headline {
    float: left;
    background-color: white;
    margin: 0;
    padding: 10px;
    border-radius: 2%;
}

.search-bar {
    /* float: right; */
    margin-right: 5px;
    margin-left: 4px;
}

.search-bar input {
    border-radius: 5%;
    padding: 4px;
}

/* End Dashboard Header Styling -------------------------------------------------------------------------------------------------------------- */

/* Alert Banner Styling -------------------------------------------------------------------------------------------------------------- */

.alert-banner {
    background-color: #8652A1;
    border-radius: 5%;
    text-align: center;
    width: 95vw;
    margin-left: 8px;
}

.alert-banner p {
    color: white;
    margin: 10px;
    font-size: 13px;
    display: inline-block;
}

.alert-banner-close {
    
display: inline-block;
}

/* End Alert Banner Styling -------------------------------------------------------------------------------------------------------------- */

/* Line Graph Styling -------------------------------------------------------------------------------------------------------------- */

.traffic h3 {
    margin: 15px;
    border-bottom: 1px solid #ADADAD;
    padding: 10px;
}

/* End Line Graph Styling -------------------------------------------------------------------------------------------------------------- */

/* Bar Graph Styling -------------------------------------------------------------------------------------------------------------- */
    .daily h3 {
        margin: 15px;
        padding: 10px;
        border-bottom: 1px solid #ADADAD;
    }

/* Pie-Graph Graph Styling -------------------------------------------------------------------------------------------------------------- */

.mobile {
    border-bottom: 1px solid #ADADAD;;
} 

.mobile h3 {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #ADADAD;
 }  
 
/* End Pie-Graph Graph Styling -------------------------------------------------------------------------------------------------------------- */

/* Social Stats Grid Styling ---------------------------------------------------------------------------------------------------------------------------*/

.social-stats h3 {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #ADADAD; 
}

.logo-picture {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.social-container {
    border: 1px solid #E1E1E1;
    width: 100%;
}

.social-image {
    background-color:#F7F7F7;
    text-align: center;
}

.social-text {
    background-color: #F7F7F7;
    text-align: center;
}

.social-text p {
    margin-top: 0;
}

.social-title {
    color: #8652A1;
    font-size: 21px;
}

.numbers {
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 0;
}
/* End Social Stats Grid Styling ---------------------------------------------------------------------------------------------------------------------------*/

/* New Members Styling ---------------------------------------------------------------------------------------------------------------------------*/

    .members h3 {
        margin: 15px;
        padding: 10px;
        border-bottom: 1px solid #ADADAD;
    }

    .members-container {
        display: flex;
        background-color: #F7F7F7;
        border: 1px solid #E1E1E1;
    }

    .members-text {
        font-size: 13px;
        position: relative;
    }
    
    .member-profile-image {
        border-radius: 50%;
        margin: 10px 15px 10px 5px;
        width: 30%;
    }

/* End New Members Styling ---------------------------------------------------------------------------------------------------------------------------*/

/* Recent Activity Styling ---------------------------------------------------------------------------------------------------------------------------*/

.recent-activity h3 {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #ADADAD;
}

.activity-container {
    display: flex;
    background-color: #F7F7F7;
    border: 1px solid #E1E1E1;
}

.activity-text {
    font-size: 13px;
}

.arrow-symbol {
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* End Recent Activity Styling ---------------------------------------------------------------------------------------------------------------------------*/

/* Messaging Widget Styling ---------------------------------------------------------------------------------------------------------------------------*/

.messages h3 {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #ADADAD;
}

.messages-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2%;
}

.form-field {
    margin-bottom: 20px;
    padding: 2%;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
    border-radius: 10%;
}

.form-area {
    padding: 7%;
    background-color: #F7F7F7;
    border-radius: 10%;
}

.button-primary-send {
    margin-top: 5px;
    padding: 3%;
    background-color: #8652A1;
    color: white;
    font-size: 18px;
}

/* Settings Widget ----------------------------------------------------------------------------------------------------------------------- */
.settings h3 {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #ADADAD;
}

.settings-text {color: #8652A1;font-size: 15px;}

.timezone-select {
    text-align: center;
}

#timezone {
    margin-top: 30px;
    width: 100vw;
    padding: 10px;
}

.settings-button {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}

.button-primary {
    float: left;
    padding: 5px 15%;
    background-color: #8652A1;
    color: white;
}

.button-disabled {
    float: right;
    padding: 5px 15%;
    background-color: #8652A1;
    color: white;
}

/* End Settings Widget -------------------------------------------------------------------------------------------------------------------------------- */



/* Media Queries -------------------------------------------------------------------------------------------------------------------------------------- */

/* Tablet Media Queries ------------------------------------------------------------------- */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 60px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
    }

    
    /* Navigation Styling ------------------------------------------------------------------ */
    .navigation {
        width: 65px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        position: relative;
    }

    .navigation img {
        width: 40px;
        height: 30px;
         margin: 20px 0;
    
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      /* End Navigation Styling ------------------------------------------------------------------ */

    /* Header Styling ------------------------------------------------------------------------- */

    .header {
          width: 100%;
      }

    .bell-icon {
         position: absolute;
         right: 167px;
     }

     .dot {
     position: absolute;
     right: 162px;
     top: 19px;
     }

     /* End Header Styling ------------------------------------------------------------------------- */

     /* Dashboard Styling ------------------------------------------------------------------------- */

     .headline {
         margin-left: 5px;
     }

     .search-bar input {
        width: 300px;
    }

     .search-bar {
     margin-right: 15px;
     }

     /* End Dashboard Styling ------------------------------------------------------------------------- */

     /* Alert Banner Styling ------------------------------------------------------------------------- */

     .alert-banner {
         margin-left: 10px;
         width: 98%;
     }

     /* End Alert Banner Styling ------------------------------------------------------------------------- */

     /* Social Stats Widget ------------------------------------------------------------------------------ */

     .social-container {
         width: 60%;
         position: relative;
         left: 145px;
     }
     
     /* End Social Stats Widget ------------------------------------------------------------------------------ */

     /* Pie-graph Widget Styling ------------------------------------------------------------------------------ */
        .mobile {
            margin-left: 5px;
        }
    /* End Pie-graph Widget Styling ------------------------------------------------------------------------------ */

    
    .member-float-container {
        display: flex;

    }
    
    /* New Members/Recent Activity Widget Styling ------------------------------------------------------------------------------ */

   .social-stats {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   
    .members {
        width: 50%;
        
    }    

    .members-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-right: 1em;
        margin-left: 1em;
        margin-left: 5px;
        align-items: center;
    }

    .date {
        /* grid-column: 2/span 3; */
        position: absolute;
        left: 188px;
        top: 30px;
    }

    .member-profile-image {
        width: 70px;
        height: 70px;
    }

    /* ============================= */
    .members-text, .activity-text {
        font-size: 11px;
    }

    .activity-container {
        flex-grow: 1;
        position: relative;
    }
    
    .recent-activity {
        width: 50%;
        }
        
    /* End New Members/Recent Activity Widget Styling ------------------------------------------------------------------------------ */

    .messages, .settings, .switch-light, .settings-button {
        width: 50%;
        border-left: 1px #E1E1E1 solid;
    }

    .switch-light {
        margin-left: 89px;
    }

    .messages-settings-float-container {
        display: flex;
    }

    .toggle-container {
        text-align: center;
    }

    #timezone {
        width: 50%;
    }

    .settings-button {
        width: 100%;
    }

    .button-primary-send {
        margin-top: 72px;
    }

}


@media (min-width: 1024px) {
        /* User Heading/Main Heading Styling -------------------------------------------------------------------------------------- */
    
        .user-account {
            position: absolute;
            right: -35px;
            top: 8px;
        }
        
        
        
        
        .alert-banner {
            margin-left: 8px;
        }
        
        
        
        /* New Members/Recent Activity Widget Styling ------------------------------------------------------------------------------ */
            
        .social-stats {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        
         .members {
             width: 50%;
             
         }    
     
         .members-container {
             display: grid;
             grid-template-columns: 1fr 2fr 1fr;
             margin-right: 1em;
             margin-left: 1em;
             margin-left: 5px;
             align-items: center;
         }
     
         .date {
             position: absolute;
             left: 265px;
             top: 32px;
         }
     
         .member-profile-image {
             width: 80px;
             height: 80px;
         }
     
         /* ============================= */
         .members-text, .activity-text {
             font-size: 14px;
         }
     
         .activity-container {
             flex-grow: 1;
             position: relative;
         }
         
         .recent-activity {
             width: 50%;
             }
    /* End New Members/Recent Activity Widget Styling ------------------------------------------------------------------------------ */
}